<div id="home">
    <h2>Our Vision</h2>
    <div class="ui-g">
        <div class="ui-g-12">
            <p>
                Establish Identity as Platform for Nike Inc, for employees (B2E) and partners (B2B/B2P), through strong business partnerships and IAM technology development across Nike, and with an extensible approach for user experience, security, automation (APIs), and self service.
            </p>
        </div>
    </div>
    <h2>Our Mission</h2>
    <div class="ui-g">
        <div class="ui-g-12">
            <p>
                Ensure employees and partners have access to the right system resources at the right time, by use of Identity and Access Management, Authentication, Privileged Access, and Governance across Nike Inc's business systems.    
            </p>
            <p>
                Provide enterprise scaled Identity and Access Management (IAM) solutions for Nike Inc, for employees (B2E) and partners (B2B/B2P). Provide professional, timely, and enterprise scaled IAM operational support for our solutions.
            </p>
        </div>
    </div>
</div>